/target
**/target

*.txt
**/__pycache__

cookie.py


# Added by cargo
#
# already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target
